<!doctype html>
<html lang="en">
  <head>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../src/template/sb/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../src/template/sb/css/owl.carousel.min.css">

    <style>
        .sidebar ul li{
            border-bottom: 1px solid #444;
        }
      .sidebar ul li > ul {
          margin-left: 50px!important;
      }
      .side-inner{
        background:#000;
      }
      .nav-menu{
        margin-left: 20px!important;
      }
    </style>
    
    <!-- Style -->
    <link rel="stylesheet" href="../src/template/sb/css/style.css">
  </head>
  <body>
    
  </body>
  <script src="../src/template/sb/js/jquery-3.3.1.min.js"></script>
  <script src="../src/template/sb/js/popper.min.js"></script>
  <script src="../src/template/sb/js/bootstrap.min.js"></script>
  <script src="../src/template/sb/js/main.js"></script>
  <script>
    $('.collapse').collapse()
  </script>
</html>